<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Dmelnyk::top_level" module="Dmelnyk_ExtendedContact" resource="Magento_Backend::content" sortOrder="9999" title="Dmelnyk"/>
		<add action="dmelnyk_extendedcontact/contact/index" id="Dmelnyk::dmelnyk_contact" module="Dmelnyk_ExtendedContact" parent="Dmelnyk::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Extended Contacts"/>
	</menu>
</config>
